<div class="pl-5 md:pl-40 w-1/2">
    <a href="/" class="underline bg-pink-500 text-pink-500">
        <h1 class="font-extrabold font-sans text-gray-400 text-4xl md:text-6xl text-left uppercase">bikeinfo.xyz
        </h1>
    </a>
</div>