<div class="w-5/6 mx-auto">
    <a href="/" class="text-pink-500 underline bg-pink-500">
        <h1 class="font-sans text-4xl font-extrabold text-left text-gray-400 uppercase md:text-6xl">bikeinfo.xyz
        </h1>
    </a>
</div>