	<input type="checkbox" id="toggle" class="input-toggler neoDark" />
	<label for="toggle" class="menu-toggler">
		<span class="menu-toggler-line"></span>
		<span class="menu-toggler-line"></span>
		<span class="menu-toggler-line"></span>
	</label>
	<section class="sidebar">
		<div class="grid w-1/2 grid-flow-row-dense grid-cols-2 gap-4 m-auto text-2xl grid-row-3" >
			<div class="bg-purple-400 neoDark "><a class="menu-link" href="/">Home</a></div>
			<div class="bg-green-400 neoDark "><a class="menu-link" href="#">Online Forum</a></div>
			<div class="bg-red-400 neoDark "><a class="menu-link" href="#">Store</a></div>
			<div class="bg-orange-400 neoDark "><a class="menu-link" href="#">Team Korvelo</a></div>
			<div class="bg-blue-400 neoDark "><a class="menu-link" href="#">Bike</a></div>
			<div class="bg-teal-400 neoDark "><a class="menu-link" href="#">Riding</a></div>
		</div>
	</section>
