<div>
	<input type="checkbox" id="toggle" class="input-toggler" />
	<label for="toggle" class="menu-toggler">
		<span class="menu-toggler-line"></span>
		<span class="menu-toggler-line"></span>
		<span class="menu-toggler-line"></span>
	</label>

	<aside class="sidebar">
		<ul class="flex flex-wrap text-2xl menu">
			<li class="bg-purple-400 "><a class="menu-link" href="/">Home</a></li>
			<li class="bg-green-400 "><a class="menu-link" href="#">Online Forum</a></li>
			<li class="bg-red-400 "><a class="menu-link" href="#">Store</a></li>
			<li class="bg-orange-400 "><a class="menu-link" href="#">Team Korvelo</a></li>
			<li class="bg-blue-400 "><a class="menu-link" href="#">Bike</a></li>
			<li class="bg-teal-400 "><a class="menu-link" href="#">Riding</a></li>
		</ul>
	</aside>
</div>
