	<input type="checkbox" id="toggle" class="input-toggler neoDark" />
	<label for="toggle" class="menu-toggler">
		<span class="menu-toggler-line"></span>
		<span class="menu-toggler-line"></span>
		<span class="menu-toggler-line"></span>
	</label>
	<section class="sidebar">
		<div class="h-full w-1/3 gap-4 text-2xl flex flex-col justify-center mx-auto" >
			<div class="p-5 text-center"><a class="menu-link" href="/">Home</a></div>
			<div class="p-5 text-center"><a class="menu-link" href="https://forum.bikeinfo.xyz">Online Forum</a></div>
			<div class="p-5 text-center"><a class="menu-link" href="/korvelo">Team Korvelo</a></div>
			<div class="p-5 text-center"><a class="menu-link" href="/bikes">Bike Review</a></div>
			<div class="p-5 text-center"><a class="menu-link" href="/youtube">Youtube Gallery</a></div>
			<div class="p-5 text-center"><a class="menu-link" href="/gears">Gear Review</a></div>
			
		</div>
	</section>
