<!DOCTYPE html>
<html lang="en">

<head>
	{% include "head.njk" %} {% if site.env %}
	<!-- capture the CSS content as a Liquid variable -->
	{% set css %}{% include "app.compiled.css" %}{% endset %}
	<style>
		{{css | safe}}
	</style>
	{% else %}
	<link rel="stylesheet" href="/static/app.compiled.css" />
	{% endif %}

</head>

<body class="w-screen h-screen p-0 antialiased text-gray-200 mx-auto">
	{% include "overlayMenu.njk" %}
	{# {% include "verticalStripes.njk" %} #}
	{% include "bikeinfoLogo.njk" %}

	<div class="mt-2">
		<div class="relative w-5/6 imageOverlay mx-auto">
			<style>
				.imageOverlay::after {
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					width:90%;
					height:90%;
					background-image: radial-gradient(ellipse closest-side, rgba(0,0,0,0.6), #090909), url({{heroImage}});
					background-size: cover;
					background-repeat: no-repeat;
					opacity: 0.9;
				}
			</style>
			<div class="mx-auto pb-64 relative">
					<div class="relative z-50 pt-32 text-center text-gray-200 font-korTitle text-3xl md:text-4xl">Team Korvelo Manual</div>
					{# <p class="text-gray-400 font-sans text-base md:text-xl  pb-40 mx-auto">Latest News</p> #}
					{# {%for new in collections.news%}
					<a href="{{new.url | url}}">{{new.data.title}} - {{new.date|readableDate}}</a>
					{%endfor%} #}
					{# <p class="text-gray-400 font-sans text-base md:text-xl w-5/6 mb-4 line">{{postlist}}</p> #}
					
			</div>
		</div>
	</div>

	{# group ride schedule #}
	<div class="mx-auto w-5/6 mt-4">
		<div class="bg-gray-900 pl-3 neomorph rounded py-2">
			<div class="text-green-300 text-2xl mb-4">Korvelo Group Ride Schedule</div>
			<div class="text-gray-300 hover:text-red-300"><a class="text-lg" href="https://www.strava.com/clubs/150475/group_events/774783">Carderock - 8 AM Monthly on the first Saturday</a></div>
			<div class="text-gray-300 hover:text-red-300"><a class="text-lg" href="https://www.strava.com/clubs/150475/group_events/774787">Moco Gravel - 9 AM Monthly on the third Saturday</a></div>

		</div>
		
	</div>

	{# <div class="mx-auto relative w-full z-50">
		<div class="z-50 w-5/6 mx-auto">
			<iframe class="z-50 mx-auto max-w-screen-md min-w-full" style="" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=aHMycGg3NWptZGZhYW9hcTJjMXBnNG10YmdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23616161" style="border:solid 1px #777"  height="600" frameborder="0" scrolling="no"></iframe>
		</div>
		<div class="pl-4 mt-4 w-4/5 text-gray-300 text-base">캘린더 하단에 '+'를 클릭하시면 팀 이벤트를 본인 구글캘린더에 추가 할 수 있습니다. 팀 이벤트 작성과 참여 여부를 멤버들과 공유하고 싶으신분들은 korvelo@googlegroups.com으로 알려주시기 바랍니다.</div>
	</div> #}
	<div class="w-5/6 mx-auto text-red-200 flex flex-row flex-wrap">
		{% set listing = collections[postlist] %}
		{% set postlistCounter = collections.posts | length %}
			
			{% for item in	collections.korvelo %}
			{%if item.data.tags == "youtube" %}
			<div class="bg-gray-900 rounded-md m-6">

				<div class="relative"><a href="{{ item.url | url }}">{{ item.data.title }}</a></div>
				<div class="relative">
				<iframe width="560" height="315" src="{{item.data.featuredYoutube | url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			{%else%}
		<div class="mt-10 rounded-md m-6 flex flex-row">
			<div class="relative w-2/5">
				<a href="{{item.url|url}}"><img class="" src="{{item.data.heroImage}}" alt="" srcset=""></a>
			</div>
			<div class="relative flex flex-col" >
				<a href="{{ item.url | url }}" class="text-2xl font-bold ml-4 mt-4">{{ item.data.title }}</a>
				
				
					{{ item.data.discription }}
				
			</div>
		</div>
		{%endif%}
			{% endfor %}
		

		
	</div>
	
</body>
<script src="/static/app.bundled.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lax.js"></script>
<script>
	function navToggle() {
		var btn = document.getElementById("courseBtn");
		var overlay = document.getElementById("courseOverlay");
		var xbtn = document.getElementById("closeBtn");

		console.log("abcd");
		// btn.classList.toggle("open");
		overlay.classList.toggle("hidden");
		// xbtn.classList.toggle("block");
	}

	window.onload = function () {
		lax.setup() // init

		const updateLax = () => {
			lax.update(window.scrollY)
			window.requestAnimationFrame(updateLax)
		}

		window.requestAnimationFrame(updateLax)
	}
</script>

</html>
