<div>
	<input type="checkbox" id="toggle" class="input-toggler" />
	<label for="toggle" class="menu-toggler">
		<span class="menu-toggler-line"></span>
		<span class="menu-toggler-line"></span>
		<span class="menu-toggler-line"></span>
	</label>

	<aside class="sidebar">
		<ul class="menu">
			<li><a class="menu-link" href="/">Home</a></li>
			<li><a class="menu-link" href="#">Online Forum</a></li>
			<li><a class="menu-link" href="#">Store</a></li>
			<li><a class="menu-link" href="#">Team Korvelo</a></li>
			<li><a class="menu-link" href="#">Bike</a></li>
			<li><a class="menu-link" href="#">Riding</a></li>
		</ul>
	</aside>
</div>
