<!DOCTYPE html>
<html lang="en">

<head>
	{% include "head.njk" %} {% if site.env %}
	<!-- capture the CSS content as a Liquid variable -->
	{% set css %}{% include "app.compiled.css" %}{% endset %}
	<style>
		{{css | safe}}
	</style>
	{% else %}
	<link rel="stylesheet" href="/static/app.compiled.css" />
	{% endif %}
	<style>
		h2 {
			font-size: 2rem;
		}

		.contentImage img {
			width: 90%;
			position: relative;
			margin: auto;
			padding: 2%;

		}

		.contentImage {
			padding: 4%;
		}
		.contentImage a{
			color: pink;
		}
	</style>
</head>

<body class="h-screen max-w-6xl m-0 mx-auto antialiased ">
	<!-- right side strip nav menu -->
	{% include 'rightSideNav.njk' %}

	<!-- top left logo banner -->
	<div class="z-20 mt-2 ">
		
		<style>
			.imageOverlay::after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				width: 90%;
				height: 90%;
				background-image: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.4), #090909),
				url({{heroImage}});
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				opacity: 0.9;
			}
		</style>

		<div class="relative w-5/6 mx-auto imageOverlay">
			<div class="relative z-20 w-full mt-4">
				<a class="mt-4 no-underline bg-pink-400" href="/">
					<span class="p-4 font-extrabold text-center text-gray-200 font-korTitle sm:text-4xl md:text-5xl">
						BIKEINFO.XYZ
					</span>
				</a>

				<h1 class="pt-12 mt-10 mb-24 text-xl text-right text-gray-200">Article -
					{{page.date | readableDate}}</h1>
				<h1 class="pb-48 mt-20 text-center text-indigo-300 ">{{title}}</h1>
				{% for tag in tags%}
				<a href="/tags/{{tag}}" class="text-xl text-green-400 no-underline">
					#{{tag}},&nbsp;
				</a>
				{%endfor%}
			</div>
		</div>
	</div>

	<!-- grid setup for portrait image on left with simple banners overlay -->


	<div class="w-4/5 mx-auto leading-loose prose text-gray-300 bg-gray-900 rounded-md contentImage sm:text-lg md:prose-lg lg:prose-xl max-w-none" >

		{{ content | safe}}
	</div>
	<div id="discourse-comments" class="w-4/5 mx-auto"></div>

</body>
<script src="/static/app.bundled.js"></script>

<script type="text/javascript">
  DiscourseEmbed = { discourseUrl: 'https://forum.bikeinfo.xyz/',
                     discourseEmbedUrl: 'https://bikeinfo.xyz{{page.url}}' };

  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
</script>
</html>